<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homework module 9</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="slideThree">  
        <input type="checkbox" value="None" id="slideThree" name="check" checked />
        <label for="slideThree"></label>
        <span>Sound</span>
    </div>

    <div class="keyboard">
        
    </div>
    
    <audio class="sonidos" src="//goo.gl/T1rxRG" data-note="do"></audio>
    <audio class="sonidos" src="//goo.gl/KT8FN3" data-note="re"></audio>
    <audio class="sonidos" src="//goo.gl/1SfsNS" data-note="mi"></audio>
    <audio class="sonidos" src="//goo.gl/OsOCXe" data-note="fa"></audio>
    <audio class="sonidos" src="//goo.gl/vukZmv" data-note="sol"></audio>
    <audio class="sonidos" src="//goo.gl/Bjd9KT" data-note="la"></audio>
    <audio class="sonidos" src="//goo.gl/MS9HTp" data-note="si"></audio>
        

    <!-- Template -->
    <script type="text/template" id="keyboard__template">
        <% data.forEach(item => { %>
        <div class="keyboard__row">
            <% keyboard.en[item].forEach(itemAlph => { %>
                <button class="keyboard__btn" data-note="<%- keyboard.note[randomNumber()] %>"><%- itemAlph %></button>
            <% }); %>
        </div>
        <% }); %>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>