<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Module-11 Additional</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <!-- Task one and two -->
    <!-- <div class="container">
        <form class="search-form">
            <input type="text" name="country" placeholder="Enter country name">
            <button class="mdc-btn" type="submit" id="js-submit">search</button>
        </form>
        <p class="result"></p>
    </div> -->

    <!-- Task three -->
    <!-- <div class="container">
        <form class="search-form">
            <button class="mdc-btn" type="submit" id="js-get">get</button>
        </form>
        <table>
            <thead>
                <tr>
                    <td style="width: 250px">Users</td>
                    <td>Score</td>
                </tr>
            </thead>
            <tbody id="result"></tbody>
        </table>    
    </div> -->

    <!-- Task four -->
    <div class="container">
        <form class="search-form">
            <input type="text" name="country" placeholder="Enter user name">
            <button class="mdc-btn" type="submit" id="js-post">post</button>
        </form>
        <p class="result"></p>
    </div>

    <!-- Template Task three -->
    <!-- <script type="text/template" id="users__score">
        <tr>
            <td><%- name %></td>
            <td><%- score %></td>
        </tr>    
    </script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>