<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Module-9 Additional</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="row-container">

    </div>
       
    <div id="keyboard-container"></div>

    <!-- Task three -->
    <script type="text/template" id="keyboard-tpl">
        <% keys.forEach(item => { %>
            <div class='<%- item %>'>
                <% rows[item].forEach(itemRow => { %>
                    <button><%- itemRow %></button>
                <% }); %>
            </div>
        <% }); %>
    </script>

    <!-- Task one and two -->
    <script type="text/template" id="row-tpl">
        <div>
            <% data.forEach(item => { %>
                <button><%- item %></button>
            <% }); %>
        </div>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>