<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Module-9 Additional</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="row-container">

    </div>

    <script type="text/template" id="row-tpl">
        <div class="gallery-item">
          <img class="gallery-img" src="<%- img %>" alt="<%- text %>">
          <p class="gallery-text">
            <%- text %>
          </p>
        </div>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://codepen.io/goit-fe-adv/pen/JrwWZw"></script>
    <script src="./js/index.js"></script>
</body>
</html>